<div class="container reservations-new">
  <div class="row">
    <div class="col-6 offset-3">

      <div class="reservations-new-nav">
        <h4 class="reservations-new-check-content">予約内容確認</h4>
        <h5 class="price-icon"><%= @room.price %> / 日</h5>
        
        <div class="reservations-new-date-select">
        <%= form_with model: @reserve, local: true do |f| %>
          <div>
            <div><%= f.label :start, "開始日" %></div>
            <%= f.text_field :start, readonly: true, class: "form-control" %>
          </div>
          <div>
            <div><%= f.label :end, "終了日" %></div>
            <%= f.text_field :end, readonly: true, class: "form-control" %>
          </div>
          <% day = ((@reserve.end - @reserve.start) / 86400).floor %>
          <% number = @reserve.people %>

          <h6 class="reservations-new-check-content">使用日数 : <%= day %>日</h6>
          <h6 class="reservations-new-check-content">人数 : <%= number %>人</h6>
          <div>
            <div><%= f.label :price, "合計金額" %></div>
            <%= f.text_field :price, value: @room.price * day * number, readonly: true, class: "form-control" %>
          </div>
          <%= hidden_field_tag :room_id, @room.id %>
          <%= hidden_field_tag :people, number %>
        
          <p>上記内容でよろしければ「予約を確定」を押してください</p>
          <%= f.submit "予約を確認", class: "form-control btn btn-primary" %>
          <%= link_to "ルーム詳細に戻る", request.referrer, class: "form-control btn btn-secondary" %>
        <% end %>
        </div>

      </div>

    </div>
  </div>
</div>