<div class="reservations">
  <h4 class="pb-4">検索結果：<%= @rooms.count %>件</h4>
  
  <div class="row">
    
    <% @rooms.each do |room| %>
      <%= link_to room_path(room.id), class:"card-room" do %>
      <div class="col-3 cards">
        <div class="card">
          <div class="image">
            <%= image_tag room.image.url, class: "image-size" %>
          </div>
          <div class="room-profile">
            <p class="profile-font"><%= room.name %></p>
            <p class="profile-font2"><%= room.address %></p>
            <p class="profile-font3"><%= room.price %></p>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>